<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<!--<body>-->
<!--    <h1 th:text="${welcomeMessage}">Hello, webpage</h1>-->
<!--    <h2 th:each="msg: ${greetings}" th:text="${msg}" th:unless="${msg.contains('no way')}">Hello, homepage</h2>-->
<!--</body>-->
<body>
    <form action="/simplehome" method="post">
        <input type="submit" value="Visit me">
    </form>
    <h1 th:if="${firstVisit}" th:text="${hello}"></h1>
    <h1 th:unless="${firstVisit}" th:text="${welcomeBack}"></h1>
</body>
</html>